#merukari.fadeout
  .product-detail
    .product-detail-left
      .product-detail-left__img
        = image_tag "merukari001.png"
      .product-detail-left__sub-img
        .product-detail-left__sub-img-img01
          = image_tag "merukari002.png"
        .product-detail-left__sub-img-img02
          = image_tag "merukari003.png"
    .product-detail-right
      .product-detail-right__title
        %h3
          メルカリ似ECサイト

      .product-detail-right__title-wrap
        %span
          リンク
      .product-detail-right__title-wrap-text
        %span.link-btn
          = link_to "GitHub","https://github.com/SuguruSasuo0906/freemarket_sample_45", target: :_blank
        %span.link-btn
          = link_to "メルカリ似ECサイト","http://3.113.80.248/", target: :_blank
        %span
          Basic認証ID「admin」Psss「0906」

      .product-detail-right__title-wrap
        %span
          使用技術
      .product-detail-right__title-wrap-text
        %span
          html/CSS/Ruby/Ruby on Rails/jQuery/MySQL/Nginx/AWS
      .product-detail-right__title-wrap
        %span
          概要
      .product-detail-right__discription-text
        %span
          ユーザーの登録から商品の登録、検索、商品のカード購入まで行えるメルカリ似のECサイトです。このサイトには、ユーザー登録にマルチステップ機能を実装し、その際にSMS認証機能とクレジットカードの登録機能を実装しました。また、商品の登録にはドラッグアンドドロップで商品画像の登録が出来る機能、商品の検索には各種項目の詳細での検索機能、商品の詳細にはユーザー同士がコミュニケーションを取るためのAjaxを用いてのコメント機能を実装し、商品の購入をした際にはクレジットカードでの決算機能を実装しました。
          %br
          今上がっているECサイトではユーザー登録の際のSMS認証はTwillioを使用している為、許可されている電話番号にしかSMS認証を行う事が出来ません。その為、サイトをログインをする際は、メールアドレスは「buyer01@gmail.com」、パスワードは「buyer01」をご利用下さい。
      
    .product-detail-close-btn
      ☓
