#portfolio.product-detail
  .product-detail-left
    .product-detail-left__img
      = image_tag "portfolio001.png"
    .product-detail-left__sub-img
      .product-detail-left__sub-img-img01
        = image_tag "portfolio002.png"
      .product-detail-left__sub-img-img02
        = image_tag "portfolio003.png"
  .product-detail-right
    .product-detail-right__title
      %h1
        Portfolio
    .product-detail-right__title-wrap
      %span
        使用技術
    .product-detail-right__title-wrap-text
      %span
        html/CSS/Ruby/Ruby on Rails/jQuery/MySQL/Nginx/AWS
    .product-detail-right__title-wrap
      %span
        概要
    .product-detail-right__discription-text
      %span
        samplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesamplesample
    .product-detail-right__title-wrap
      %span
        リンク
    .product-detail-right__title-wrap-text
      %span
        = link_to "GitHub"
      %span
        \/
      %span
        = link_to "Portfolio"
    
  .product-detail-close-btn
    ☓
