.skill-contents__wrap
  .skill-contents__wrap__title
    %h1
      SKILL
  .skill-contents__wrap__description
    %span
      今までに私が学んできたスキルをまとめました。広く浅くにはなりますが、フロントエンドからバックエンドまでスキルアップに取り組んで来ました。一つに対しての専門性が低い事は弱点ですが、オールラウンドに対応出来る点が強みだと思います。今後はその弱点を克服する為に、一つずつ専門性を高めていきたいと考えています。
  
  .skill-contents__wrap__skill
    .skill-contents__wrap__skill-wrap
      .skill-title
        %h2
          Front-end
      .skill-wrap
        .skill-wrap__box
          = image_tag "html.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            html
          = image_tag "rate-5.png", class:"skill-wrap__box-star"
        
        .skill-wrap__box
          = image_tag "css.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            CSS
          = image_tag "rate-5.png", class:"skill-wrap__box-star"

        .skill-wrap__box
          = image_tag "js.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            Java Script
          = image_tag "rate-2.png", class:"skill-wrap__box-star"
        
        .skill-wrap__box
          = image_tag "jquery.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            jQuery
          = image_tag "rate-4.png", class:"skill-wrap__box-star"

    .skill-contents__wrap__skill-wrap
      .skill-title
        %h2
          Back-end
      .skill-wrap
        .skill-wrap__box
          = image_tag "ruby.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            Ruby
          = image_tag "rate-5.png", class:"skill-wrap__box-star"

        .skill-wrap__box
          = image_tag "C.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            C
          = image_tag "rate-4.png", class:"skill-wrap__box-star"

        .skill-wrap__box
          = image_tag "cpura.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            C++
          = image_tag "rate-4.png", class:"skill-wrap__box-star"

        .skill-wrap__box
          = image_tag "mysql.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            MySQL
          = image_tag "rate-3.png", class:"skill-wrap__box-star"

        .skill-wrap__box
          = image_tag "nginx.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            Nginx
          = image_tag "rate-1.png", class:"skill-wrap__box-star"

    .skill-contents__wrap__skill-wrap
      .skill-title
        %h2
          Other
      .skill-wrap
        .skill-wrap__box
          = image_tag "rubyonrails.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            Ruby On Rails
          = image_tag "rate-5.png", class:"skill-wrap__box-star"
  
        .skill-wrap__box
          = image_tag "Photoshop.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            Photoshop
          = image_tag "rate-7.png", class:"skill-wrap__box-star"

        .skill-wrap__box
          = image_tag "illustrator.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            Illustrator
          = image_tag "rate-7.png", class:"skill-wrap__box-star"

        .skill-wrap__box
          = image_tag "github.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            Git/Git Hub
          = image_tag "rate-4.png", class:"skill-wrap__box-star"

        .skill-wrap__box
          = image_tag "AWS.png" ,class:"skill-wrap__box-img"
          .skill-wrap__box-name
            AWS
          = image_tag "rate-1.png", class:"skill-wrap__box-star"
