%ul.nav
  %li.nav__title#top-nav
    TOP
  %li.nav__title#about-nav
    ABOUT
  %li.nav__title#skill-nav
    SKILL
  %li.nav__title#product-nav
    PRODUCTS
  %li.nav__title#contact-nav
    問い合わせ

#top
  .top-contents
    = embedded_svg("SasuoPortfolio.svg", class: "top-contents__title")

#about
  .about-contents
    = render partial:'about'

#skill
  .skill-contents
    = render partial:'skill'

#product
  .product-contents
    = render partial:'product'

#contact
  .contact-contents
    = render partial:'contact'




